$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'helpers';

/* ************************************** */

h1 {
	margin:5px 30 0 0;
	padding:0;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
}
